:root{
    --can-draw: green;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    border: 5px solid black;
    background-color: aliceblue;
}

#wrapper{
    display: grid;
    place-items: center;
    font-family: 'fantasy', 'papyrus';
    color: lightblue;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.422);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#main-content{
    display: grid;
    place-items: center;
    border: 2px solid black;
    min-width: 70%;
    min-height: 70%;
    background-image: url("../Images/fall.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

#shapeTitle{
    transform: translateX(25%);
}

#nav-bar{
    background-color: rgba(0, 255, 255, 0.269);
    border: 2px solid grey;
    padding: 5px 20px 5px 20px;
}

.buttons{
    background-color: lavender;
    box-shadow: 3px 5px 10px black;;
    transition: .5 ease;
    background-color: lightgray;
    border-color: black;
    border-radius: 0%;
}
.buttons:hover{
    transform: translate(0, -20%) scale(110%);
    transition: .5 ease;
}
.buttons:active{
    background-color: yellow;
    transform: translate(0, -10%) scale(100%)
}


#mousePosTXT{
    font-size: 15px;
    margin-left: 30px;
}
#mousePos{
    color: var(--can-draw);
}

#canvas{
    background-color: white;
    border: 2px solid black;
    box-shadow: 3px 5px 10px black;
    cursor: crosshair;
}

#bg{
    background-image: url("../Images/gradient.gif");
    background-size: cover;
    background-repeat: no-repeat;
}